<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br><br><br><br><br>
<div class="container">

<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	
	<h4 class="card-title mt-2">Change Password</h4>
</header>
<article class="card-body">
<form [formGroup]="changepasswordForm" (ngSubmit)="OnSubmit()">
	
	<div class="form-group">
		<label>Old password</label>
		<input class="form-control" type="password" formControlName="OldPassword" required>
		<div *ngIf="changepasswordForm.controls.OldPassword.invalid && (changepasswordForm.controls.OldPassword.dirty || changepasswordForm.controls.OldPassword.touched)" class="text-danger">
			<div *ngIf ="changepasswordForm.controls.OldPassword.errors.required">
				Password is required
			</div>
			<div *ngIf ="changepasswordForm.controls.OldPassword.errors.minlength">
				Password must be of atleast 8 characters.
			</div>
		</div>
	</div> <!-- form-group end.// -->
	
	<div class="form-group">
		<label>New password</label>
		<input class="form-control" type="password" formControlName="NewPassword" required>
		<div *ngIf="changepasswordForm.controls.NewPassword.invalid && (changepasswordForm.controls.NewPassword.dirty || changepasswordForm.controls.NewPassword.touched)" class="text-danger">
			<div *ngIf ="changepasswordForm.controls.NewPassword.errors.required">
				Password is required
			</div>
			<div *ngIf ="changepasswordForm.controls.NewPassword.errors.minlength">
				Password must be of atleast 8 characters.
			</div>
		</div>
	</div> <!-- form-group end.// -->
	
	<div class="form-group">
		<label>Confirm password</label>
		<input class="form-control" type="password" formControlName="ConfirmPassword" required>
		<div *ngIf="changepasswordForm.controls.ConfirmPassword.invalid && (changepasswordForm.controls.ConfirmPassword.dirty || changepasswordForm.controls.ConfirmPassword.touched)" class="text-danger">
			<div *ngIf ="changepasswordForm.controls.ConfirmPassword.errors.required">
				Password is required
			</div>
			<div *ngIf ="changepasswordForm.controls.ConfirmPassword.errors.minlength">
				Password must be of atleast 8 characters.
			</div>
		</div>
	</div> <!-- form-group end.// -->
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!changepasswordForm.valid"> Change </button>
    </div> <!-- form-group// -->      
                                              
</form>
</article> <!-- card-body end .// -->

</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Prashantanam pvt lmtd.</h3>

  
</div>
<br><br>
</article>