<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">

<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<!-- <a routerLink="/login" class="float-right btn btn-outline-primary mt-1">Log in</a> -->
	<h4 class="card-title mt-2">Sign up </h4>
</header>
<article class="card-body">
<form [formGroup]="signupForm" (ngSubmit)="OnSubmit()">
	<div class="form-row">
		<div class="col form-group">
			<label>First name </label>   
			  <input type="text" class="form-control" formControlName="FirstName" required>
			  <div *ngIf="signupForm.controls.FirstName.invalid && (signupForm.controls.FirstName.dirty || signupForm.controls.FirstName.touched)" class="text-danger">
				  <div *ngIf ="signupForm.controls.FirstName.errors.required">
					  First name is required
				  </div>
			  </div>
		</div> <!-- form-group end.// -->

		<div class="col form-group">
			<label>Last name</label>
			  <input type="text" class="form-control" formControlName="LastName" required>
			  <div *ngIf="signupForm.controls.LastName.invalid && (signupForm.controls.LastName.dirty || signupForm.controls.LastName.touched)" class="text-danger">
				<div *ngIf ="signupForm.controls.LastName.errors.required">
					Last name is required
				</div>
			</div>
		</div> <!-- form-group end.// -->

	</div> <!-- form-row end.// -->
	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" placeholder="" formControlName="Email" required>
		<div *ngIf="signupForm.controls.Email.invalid && (signupForm.controls.Email.dirty || signupForm.controls.Email.touched)" class="text-danger">
			<div *ngIf ="signupForm.controls.Email.errors.required">
				Email is required
			</div>
			<div *ngIf ="signupForm.controls.Email.errors.email">
				Email is not correct
			</div>
		</div>
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div> <!-- form-group end.// -->

	<div class="form-group">
		<label>Enter contact number</label>
		<input class="form-control" type="text" formControlName="Contact" required>
		<div *ngIf="signupForm.controls.Contact.invalid && (signupForm.controls.Contact.dirty || signupForm.controls.Contact.touched)" class="text-danger">
			<div *ngIf ="signupForm.controls.Contact.errors.required">
				 Contact Number is required
			</div>
			<div *ngIf ="signupForm.controls.Contact.errors.minlength">
				Contact number should be atleast of 10 digits.
			</div>
		</div>
	</div> <!-- form-group end.// -->

	<div class="form-group">
		<label>Create password</label>
		<input class="form-control" type="password" formControlName="Password" required>
		<div *ngIf="signupForm.controls.Password.invalid && (signupForm.controls.Password.dirty || signupForm.controls.Password.touched)" class="text-danger">
			<div *ngIf ="signupForm.controls.Password.errors.required">
				Password is required
			</div>
			<div *ngIf ="signupForm.controls.Password.errors.minlength ">
				Password must be of atleast 8 characters.
			</div>
		</div>
		<small class="form-text text-muted">Use 8 or more characters with a mix of letters, numbers & symbols</small>
		
	</div> <!-- form-group end.// -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!signupForm.valid"> Register  </button>
    </div> <!-- form-group// -->      
    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our <br> Terms of use and Privacy Policy.</small>                                          
</form>
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center">Have an account? <a routerLink="/login">Log In</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br><br><br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Prashantanam pvt lmtd.</h3>

</div>
<br><br>
</article>