<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br><br><br><br><br>
<div class="container">

<hr>


<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	
	<h4 class="card-title mt-2">Forgot Password</h4>
</header>
<article class="card-body">
<form [formGroup]="forgetpasswordForm" (ngSubmit)="OnSubmit()">
	
	
	<div class="form-group">
		<label>Enter Your Email Address</label>
		<input class="form-control" type="email" formControlName="Email" required>
		<div *ngIf="forgetpasswordForm.controls.Email.invalid && (forgetpasswordForm.controls.Email.dirty || forgetpasswordForm.controls.Email.touched) " class="text-danger">
			<div *ngIf ="forgetpasswordForm.controls.Email.errors.required">
				Email is required
			</div>
			
		</div>
	</div>
	
	
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!forgetpasswordForm.valid"> Get Verification Email </button>
    </div> <!-- form-group// -->      
                                              
</form>
</article> <!-- card-body end .// -->

</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<article class="bg-secondary mb-3">  
<div class="card-body text-center">
    <h3 class="text-white mt-3">Prashantanam pvt lmtd.</h3>

  
</div>
<br><br>
</article>